<div class="container mx-auto px-4 py-8">
  <div class="flex justify-center items-center bg-white p-4 rounded shadow-md"> <!-- Added background, padding, rounded corners and shadow -->
    <input class="border p-2 rounded-l w-1/2 focus:border-blue-500" [(ngModel)]="githubUsername" placeholder="Enter GitHub Username">
    <button class="bg-blue-500 text-white p-2 rounded-r hover:bg-blue-600" (click)="fetchRepositories()">Fetch Repositories</button>
    <div class="ml-4 flex items-center">
      <label for="perPage" class="mr-2 font-semibold">Show:</label> <!-- Added font styling -->
      <select [(ngModel)]="repositoriesPerPage" (change)="fetchRepositories()" id="perPage" class="border p-2 rounded hover:border-blue-500">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
      </select> repositories per page
    </div>
  </div>

  <div *ngIf="isLoading; else repositoriesList">
    <ngx-skeleton-loader count="10"></ngx-skeleton-loader>
  </div>

  <ng-template #repositoriesList>
    <div *ngFor="let repo of repositories" class="border p-4 rounded shadow mt-4">
      <h2 class="text-xl font-bold">{{ repo.name }}</h2>
      <p class="text-gray-600">{{ repo.description }}</p>
      <div class="mt-2 space-x-2">
        <span *ngFor="let topic of repo.topics" class="bg-blue-200 text-blue-700 p-1 rounded">{{ topic }}</span>
      </div>
    </div>

    <div class="mt-8 flex justify-center">
      <button class="bg-blue-500 text-white p-2 rounded-l mr-2" (click)="currentPage = currentPage - 1; fetchRepositories()">Previous</button>
      <button class="bg-blue-500 text-white p-2 rounded-r" (click)="currentPage = currentPage + 1; fetchRepositories()">Next</button>
    </div>
  </ng-template>
</div>
